/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  color: #fff;
  background: #000;
}
::-webkit-scrollbar {
  display: none;
}
/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: auto;
  background: #fff;
  display: flex;
  border-bottom: 1px solid #000;
}
/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 100px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  border-bottom: 1px solid #000;
}
nav.navShadow {
  box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.75);
  height: 60px;
}
nav.navShadow #word-mark {
  opacity: 0;
}
#brand, #menu, ul {
  display: flex;
  align-items: center;
}
#brand {
  padding-left: 20px;
}
#logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background: url('../images/my-photo-profile.jpg');
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}
#word-mark {
  width: auto;
  height: auto;
  background: #fa6c98;
  border-radius: 50px;
  margin-left: 20px;
  padding: 0 5px;
  opacity: 1;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
/*** Menu Styles ***/
#menu {
  justify-content: flex-end;
  padding-right: 20px;
  font-family: 'Comfortaa', cursive;
}
li {
  margin-left: 20px;
}
li a {
  height: 20px;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
li a:focus {
  color: #fa6c98;
}
.middle-hover-link a {
  position: relative;
  transition: all 0.6s;
}
.middle-hover-link a:before {
  content: "";
  width: 0;
  height: 0.15em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: black;
  transition: all 0.3s;
}
.middle-hover-link a:hover:before {
  width: 100%;
  left: 0;
  background: black;
}
.language {
  display: flex;
  flex-flow: row;
}
.language .ru, .language .en {
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 0.9rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  color: black;
}
.language .active-lang {
  background-color: black;
  color: white !important;
}
#menu-toggle {
  width: 45px;
  height: 45px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}
.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}
/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-bottom: 1px solid #000;
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  height: auto;
}
.left-side {
  width: 50%;
  height: auto;
  margin-left: 10%;
}
.left-side h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
}
.left-side h3 .dott {
  color: #0065ad;
}
.left-side p {
  font-size: 0.9rem;
  line-height: 1.56;
  color: gray;
  text-align: justify;
  margin-top: 10px;
  font-family: 'Comfortaa', cursive;
}
.left-side .adress-info {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
.left-side .adress-info .phone-title, .left-side .adress-info .email-title {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.left-side .adress-info .phone-title span, .left-side .adress-info .email-title span {
  padding-left: 10px;
  font-size: 0.8rem;
  color: gray;
}
.left-side .social {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.left-side .social span {
  font-family: 'Comfortaa', cursive;
  font-size: 0.8rem;
  font-weight: 600;
}
.left-side .social .social-icon a {
  margin-left: 5px;
}
.left-side .social .social-icon .fab {
  color: black;
  transition: all 0.2s linear;
}
.left-side .social .social-icon .fab:hover {
  color: #fa6c98;
}
.btn {
  padding: 0 5px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin-top: 10px;
  width: auto;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  font-family: 'Comfortaa', cursive;
}
.btn-download:hover {
  background: black;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  color: white;
  transform: translateY(-7px);
}
.right-side {
  width: 50%;
  height: auto;
  overflow: hidden;
  padding: 10px;
}
.right-side span {
  width: 100%;
  height: 500px;
  display: inline-block;
  background: url(../images/my-photo-profile.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
/*** Section Styles ***/
section {
  width: 100vw;
  min-height: calc(100vh - 60px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-bottom: 1px solid #000;
}
section:nth-child(odd) {
  background: white;
}
section:nth-child(even) {
  background: white;
}
#heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
}
/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
  #menu-toggle {
    display: flex;
 }
  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #fff;
    position: absolute;
    top: 100px;
    transform: translate();
    opacity: 0.9;
    right: 0;
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
 }
  ul.showMenu {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
 }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
 }
  li {
    height: 80px;
    float: left;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
 }
  #head-line {
    transform: scale(0.8);
 }
}
@media screen and (max-width: 700px) {
  header {
    height: auto;
 }
  .wrapper {
    flex-flow: column;
 }
  #hero-section {
    align-items: flex-start;
 }
  .right-side {
    order: 1;
    width: 100%;
    height: 500px;
 }
  .right-side span {
    background-size: contain;
    height: 500px;
 }
  .left-side {
    order: 2;
    width: 100%;
    height: auto;
    margin-left: 0;
 }
}
@media screen and (max-width: 490px) {
  #logo {
    height: 100%;
    width: 80px;
    border-radius: 0;
 }
}
.container {
  height: auto;
}
.portfolio {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 30px;
  padding-top: 20px;
  font-family: 'Comfortaa', cursive;
}
.portfolio-title h2 {
  color: #000;
  font-size: 2rem;
}
.portfolio-title p {
  color: gray;
  font-size: 0.9rem;
  line-height: 1.56;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.portfolio-title .dott {
  color: blue;
}
.portfolio-row {
  width: 100%;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio-card {
  overflow: hidden;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.portfolio-card img {
  width: 100%;
}
.hover-adress {
  display: none;
  position: absolute;
  bottom: 0;
}
.hover-adress a {
  text-decoration: none;
  color: white;
  font-size: 1.275rem;
}
.hover-state {
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hover-state:hover {
  transform: scale(1.2);
  background: black;
  border-radius: 8px;
  color: white;
}
.hover-state:hover .hover-adress {
  display: block;
}
@media (max-width: 360px) {
  .portfolio-card {
    width: 100px;
    height: 100px;
 }
}
.footer {
  background: #fff;
  height: 50px;
  width: 100%;
  font-family: 'Comfortaa', cursive;
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.footer .container p {
  font-size: 0.9rem;
  line-height: 1.4;
  opacity: 0.8;
}
