/*** Mixins & Default Styles ***/

@mixin object($width, $height, $bg) {
  width: $width;
  height: $height;
  background: $bg;
}
@mixin transPos($top, $right, $bottom, $left, $transX, $transY) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  transform: translate($transX, $transY);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  color: #fff;
  background: #000;
}
::-webkit-scrollbar {
  display: none;
}

/*** Color Variables ***/
$header-bg: #5661f2;
$nav-bg: #46b2f0;
$pink: #fa6c98;
$aqua: #79edfc;
$accent: #fff;
$profile-image: "../images/my-photo-profile.jpg";
$basic-font-family: "Comfortaa", cursive;

/*** Centering Hack ***/
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include object(100vw, auto, $accent);
  display: flex;
  border-bottom: 1px solid #000;
  /*** Navigation Styles ***/
  nav {
    @include object(100vw, 100px, $accent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;
    border-bottom: 1px solid #000;
    &.navShadow {
      // box-shadow:0 4px 30px -5px rgba(#000,0.2);
      box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.75);
      height: 60px;
      #word-mark {
        opacity: 0;
      }
    }
  }

  #brand,
  #menu,
  ul {
    display: flex;
    align-items: center;
  }

  #brand {
    padding-left: 20px;
  }

  #logo {
    @include object(55px, 55px, $accent);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    background: url($profile-image);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
  }

  #word-mark {
    @include object(auto, auto, $pink);
    border-radius: 50px;
    margin-left: 20px;
    padding: 0 5px;
    opacity: 1;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $basic-font-family;
  }

  /*** Menu Styles ***/
  #menu {
    justify-content: flex-end;
    padding-right: 20px;
    font-family: $basic-font-family;
  }

  li {
    margin-left: 20px;

    a {
      @include object(null, 20px, null);
      text-decoration: none;
      font-size: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      &:focus {
        color: $pink;
      }
    }
  }
  //
  .middle-hover-link a {
    position: relative;
    transition: all 0.6s;

    &:before {
      content: "";
      width: 0;
      height: 0.15em;
      position: absolute;
      bottom: 0;
      left: 50%;
      background: black;
      transition: all 0.3s;
    }

    &:hover {
      &:before {
        width: 100%;
        left: 0;
        background: black;
      }
    }
  }
  //
  .language {
    display: flex;
    flex-flow: row;
    .ru,
    .en {
      display: flex;
      margin-right: 5px;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      font-size: 0.9rem;
      background-color: white;
      border: 1px solid black;
      border-radius: 2px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      color: black;
    }
    .active-lang {
      background-color: black;
      color: white !important;
    }
  }

  #menu-toggle {
    @include object(45px, 45px, darken(#000, 5%));
    @include center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    &:hover .bar {
      width: 25px;
    }
    &.closeMenu {
      .bar {
        width: 25px;
        &:first-child {
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
          transform: scale(0);
        }
        &:last-child {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }

  .bar {
    @include object(25px, 2px, $accent);
    transition: 0.3s ease-in-out;
    &:nth-child(2) {
      width: 20px;
      margin: 5px 0;
    }
    &:last-child {
      width: 15px;
    }
  }
}

/*** Hero Section Styles ***/
#hero-section {
  // @include object(100vw,calc(100vh - 100px),null);
  @include object(100vw, auto, null);
  @include center;
  margin-top: 100px;
  border-bottom: 1px solid #000;
}

// wrapper
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  height: auto;
}
// left-side
.left-side {
  width: 50%;
  height: auto;
  margin-left: 10%;
  h3 {
    font-family: $basic-font-family;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    .dott {
      color: #0065ad;
    }
  }
  p {
    font-size: 0.9rem;
    line-height: 1.56;
    color: gray;
    text-align: justify;
    margin-top: 10px;
    font-family: $basic-font-family;
  }
  .adress-info {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    .phone-title,
    .email-title {
      font-family: $basic-font-family;
      font-weight: 700;
      font-size: 0.8rem;
      padding-bottom: 5px;
      span {
        padding-left: 10px;
        font-size: 0.8rem;
        color: gray;
      }
    }
  }
  .social {
    display: flex;
    flex-flow: row;
    align-items: center;
    span {
      font-family: $basic-font-family;
      font-size: 0.8rem;
      font-weight: 600;
    }
    .social-icon {
      a {
        margin-left: 5px;
      }
      .fab {
        color: black;
        transition: all 0.2s linear;
      }
      .fab:hover {
        color: $pink;
      }
    }
  }
}
// btn_download
.btn {
  padding: 0 5px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin-top: 10px;
  width: auto;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  font-family: $basic-font-family;
}

.btn-download:hover {
  background: black;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  color: white;
  transform: translateY(-7px);
}

// right-side
.right-side {
  width: 50%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  span {
    width: 100%;
    height: 500px;
    display: inline-block;
    background: url(../images/my-photo-profile.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
/*** Section Styles ***/
section {
  width: 100vw;
  //   min-height: calc(100vh - 60px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  &:nth-child(odd) {
    background: white;
  }
  &:nth-child(even) {
    background: white;
  }
  border-bottom: 1px solid #000;
}

#heading {
  @include object(auto, auto, $accent);
  border-radius: 90px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $basic-font-family;
  font-size: 2rem;
}

/*** Responsive Menu For Smaller Device ***/

@media screen and (max-width: 767px) {
  header {
    #menu-toggle {
      display: flex;
    }
    ul {
      display: inline-block;
      @include object(100vw, 0, $accent);
      @include transPos(100px, null, null, null, null, null);
      opacity: 0.9;
      right: 0;
      box-shadow: 0 5px 30px -4px rgba(#000, 0.2);
      transition: all 0.3s;
      &.showMenu {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        li {
          height: 80px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    li {
      @include object(null, 80px, null);
      float: left;
      opacity: 0;
      visibility: hidden;
      margin-left: 0;
      transition: all 0.3s 0.1s;
    }
    #head-line {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    height: auto;
  }
  .wrapper {
    flex-flow: column;
  }
  #hero-section {
    align-items: flex-start;
  }
  .right-side {
    order: 1;
    width: 100%;
    height: 500px;
    span {
      background-size: contain;
      height: 500px;
    }
  }
  .left-side {
    order: 2;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}

@media screen and (max-width: 490px) {
  header {
    #logo {
      height: 100%;
      width: 80px;
      border-radius: 0;
    }
  }
}

// SKILLS
.section-skills {
  font-family: $basic-font-family;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  ul {
    margin: 15px 10px;
    width: auto;
    text-align: center;
    font-weight: 700;
    li {
      font-weight: 300;
      font-size: 14px;
      display: inline-block;
      border: 1px solid #000;
      background-color: $pink;
      padding: 5px;
      margin: 3px;
      border-radius: 10px;
      width: auto;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// EDUCATION
.section-education {
  /* ================ The Timeline ================ */
  font-family: $basic-font-family;
  .timeline {
    position: relative;
    width: 770px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }

  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(30, 87, 153, 1)),
      color-stop(100%, rgba(125, 185, 232, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );

    z-index: 5;
  }

  .timeline li {
    padding: 1em 0;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .direction-l {
    position: relative;
    width: 355px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 355px;
    float: right;
  }

  .flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
  }

  .flag {
    position: relative;
    display: inline;
    // background: rgb(248,248,248);
    background: $pink;
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
  }

  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  }

  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid $pink;
    z-index: 5;
  }

  .direction-r .flag:before {
    left: -40px;
  }

  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
  }

  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: $pink;
    vertical-align: middle;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
    color: #000;
  }

  .desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
    a {
      color: $pink;
      text-decoration: none;
    }
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }

  /* ================ Timeline Media Queries ================ */

  @media screen and (max-width: 768px) {
    .timeline {
      width: 100%;
      padding: 4em 0 1em 0;
    }

    .timeline li {
      padding: 2em 0;
    }

    .direction-l,
    .direction-r {
      float: none;
      width: 100%;

      text-align: center;
    }

    .flag-wrapper {
      text-align: center;
    }

    .flag {
      //   background: rgb(255,255,255);
      background: $pink;
      z-index: 5;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: -30px;
      left: 50%;
      content: " ";
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid $pink;
      z-index: 6;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255, 255, 255);
      border-width: 8px;
      pointer-events: none;
    }

    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 7;
    }

    .direction-l .time-wrapper {
      float: none;
    }

    .direction-r .time-wrapper {
      float: none;
    }

    .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245, 245, 245);
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

      z-index: 7;
    }

    .direction-l .desc,
    .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;

      z-index: 7;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 660px) {
    .direction-l .desc,
    .direction-r .desc {
      margin: 1em 4em 0 4em;
    }
  }
}

// portfolio
.container {
  height: auto;
}
.portfolio {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 30px;
  padding-top: 20px;
  font-family: $basic-font-family;

  h2 {
    color: #000;
    font-size: 2rem;
    // font-weight: 600;
  }

  p {
    color: gray;
    font-size: 0.9rem;
    line-height: 1.56;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .dott {
    color: blue;
  }
}

.portfolio-row {
  width: 100%;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-card {
  overflow: hidden;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  width: 140px;
  height: 140px;

  img {
    width: 100%;
  }
}

.hover-adress {
  display: none;
  position: absolute;
  bottom: 0;

  a {
    text-decoration: none;
    color: white;
    font-size: 1.275rem;
  }
}

.hover-state {
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hover-state:hover {
  .hover-adress {
    display: block;
  }

  transform: scale(1.2);
  background: black;
  border-radius: 8px;
  color: white;
}

@media (max-width: 360px) {
  .portfolio-card {
    width: 100px;
    height: 100px;
  }
}
//   footer

.footer {
  background: #fff;
  height: 50px;
  width: 100%;
  font-family: $basic-font-family;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    p {
      font-size: 0.9rem;
      line-height: 1.4;
      opacity: 1;
      color: #000;
    }
  }
}
